.document {
  /* padding: 3rem;
  margin: 0 auto; */
  width: 100%;
  font-size: 10pt;
}

.title {
  margin-top: 3em;
}

.signature {
  max-width: 150px;
  margin-bottom: 4em;
}

.table {
  font-size: 9pt;
  width: 100%;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.table .right {
  text-align: right;
}

.table .center {
  text-align: center;
}


.table th {
  border: 2px solid black;
  font-weight: bold;
  text-align: left;
}

.table tfoot td {
  border: none;
  border-top: 2px solid black;
  font-weight: bold;
  padding: .75rem .25rem;
}

tr.separator td {
  border-bottom: 2px solid black;
}

.table td, .table th {
  margin: 0;
  border-left: 2px solid black;
  padding: .1rem .25rem;
  border-right: 2px solid black;
}
