@tailwind base;
@tailwind components;
@tailwind utilities;

.print {
  .no-print {
    display: none !important;
  }

  .signature {
    max-width: 150px;
    margin-bottom: 4em;
  }

  table {
    width: 100%;
    padding: 0;
    border-spacing: 0;
  }

  .table .right {
    text-align: right;
  }

  .table th {
    font-weight: bold;
    text-align: left;
  }

  .table tfoot td {
    border-top: 1px solid black;
    font-weight: bold;
  }

  .table td,
  .table th {
    padding: 0.25em 0;
    margin: 0;
  }
}
